{% extends 'CocktailMaker_main/sample.html' %}

{% block title %}
CocktailMaker
{% endblock %}

{% block active_button %}
<ul style="margin-right: 150px; min-height: 65px;" class="nav nav-pills">
    <li class="nav-link"><a href="{% url 'main-page' %}" style="background-color: #6f0fff" class="nav-link active"
                            aria-current="page"><h5>Новый
        коктейль</h5></a></li>
    <li class="nav-link "><a href="{% url 'my-recipes' %}" class="nav-link text-white "><h5> Мои коктейли</h5></a></li>
    <li class="nav-link "><a href="{% url 'dictionary' %}" class="nav-link text-white"><h5>Словарик</h5></a></li>
    <li class="nav-link "><a href="{% url 'reference' %}" class="nav-link text-white"><h5>Справка</h5></a></li>
    <li class="nav-link "><a href="{% url 'about-us' %}" class="nav-link text-white"><h5>О нас</h5></a></li>
</ul>
{% endblock %}

{% block info %}
<h1 class="center" style="margin: 50px;">Главная</h1>
<form class="center" style="margin-left: 400px; max-width: 600px;" method="post">
    {% csrf_token %}
    {{ form.title }}<br>
    {{ form.string_ings }}<br>
    {{ form.string_tags }}<br>
    <button style="margin-bottom: 35px; min-height: 45px;" type="submit" class="btn btn-success" data-bs-toggle="modal"
            data-bs-target="#exampleModal">
        Добавить коктейль
    </button>
    <span>{{ error }}</span>
</form>

{% endblock %}