{% extends 'CocktailMaker_main/sample1.html' %}

{% block title %}
{{ recipe.title }}
{% endblock %}

{% block active_button %}
<ul style="margin-right: 150px; min-height: 65px;" class="nav nav-pills">
    <li class="nav-link "><a href="{% url 'main-page' %}" class="nav-link text-white " aria-current="page"><h5>Новый
        коктейль</h5></a></li>
    <li class="nav-link "><a href="{% url 'my-recipes' %}" class="nav-link text-white "><h5> Мои коктейли</h5></a></li>
    <li class="nav-link "><a href="{% url 'dictionary' %}" class="nav-link text-white"><h5>Словарик</h5></a></li>
    <li class="nav-link "><a href="{% url 'reference' %}" class="nav-link text-white"><h5>Справка</h5></a></li>
    <li class="nav-link "><a href="{% url 'about-us' %}" class="nav-link text-white"><h5>О нас</h5></a></li>
</ul>
{% endblock %}

{% block info %}
<h1 style="margin: 100px;" class="center">{{ recipe.title }}</h1>
<div class="media">
    <div class="media-body center">
        <h5 style="text-indent: 2em;margin-left: 115px;margin-right: 115px; margin-top: 70px;">
            <strong>Ингредиенты: {{ recipe.string_ings }}</strong></h5><br>
        <h5 style="margin: 20px;" class="center">Рецепт: {{ recipe.recipe }}</h5></div>
</div>
<div class="center" style="margin: 60px;">
    <a href="{% url 'recipe-rename' recipe.id %}" class="btn btn-lg btn-secondary"> переименовать </a>
    <a href="{% url 'my-recipes' %}" class="btn btn-lg btn-secondary"> назад </a>
    <button type="button" class="btn btn-lg btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Удалить
    </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    Вы уверены, что хотите удалить коктейль?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Передумал</button>
                    <form method="post">
                        {% csrf_token %}
                        <a href="{% url 'recipe-delete' recipe.id %}" class="btn btn-danger">Удалить</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
